In [17]:
import pandas as pd

In [48]:
df = pd.read_pickle('maryo_scores.pkl')
df[df['english_word'] == 'sō']

,datetime,english_word,game_id,killed,lesson,presented_word,read_duration,student_name
0,2021-06-02 22:21:16.641017,sō,RHTVRdOLzgrNtZrqokSWYXZZCPQigvbpmAYajByp,no,70,sō,14.929104,B
0,2021-06-02 22:22:36.687587,sō,SDtHMzxnkupwpDNukjfSNzYRkiXqhFsDkPLnWfiC,no,70,sō,3.267537,B
0,2021-06-02 22:23:13.914859,sō,QyDPDQcBcwpVzTRJeRatJzTKUGJMakWBsyTHurMs,no,70,sō,5.593357,B